/* custom variables */
:root {
  --background-color: #ECECEC;
  --bs-dark-rgb: 66, 66, 66;
  --btn-primary: #18386D;
  --btn-outline-primary: #18386D;
  --btn-hover-color: #4A6EDB;
  --bs-button-font-size: 1rem;
  --bs-button-padding: 0.5rem 1rem;
  --bs-button-border-radius: 0.25rem;
}

/* Apply background color */
body {
  background-color: var(--background-color);
   font-family: 'Poppins', sans-serif;
}
/* font family for heading */
h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
}
/* font family for button */
.btn {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

/* Skip link: Initially hidden, shown on focus for better accessibility */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  padding: 8px;
  background-color: var(--btn-primary);
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

/* Style when the skip link is focused (accessibility feature) */
.skip-link:focus {
  top: 10px;
  left: 0;
  background-color: #18386D;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

/* Styling for navbar links */
.navbar-nav .nav-link {
  color: #424242;
  font-family: 'Playfair Display', serif;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

/* Hover effect for navbar links */
.navbar-nav .nav-link:hover {
  color: #424242;
  box-shadow: 0 4px 10px rgba(66, 66, 66);
  background-color: #f8f9fa;
}

/* Button styling */
.btn {
  background-color: var(--btn-primary);
  font-size: var(--bs-button-font-size);
  border-color: var(--btn-outline-primary);
  padding: var(--bs-button-padding);
  border-radius: var(--bs-button-border-radius);
  color: #cccccc;
  transition: all 0.3s ease;
}

/* Outline button styling */
.btn-outline-secondary {
  background-color: var(--btn-outline-primary);
  transition: all 0.3s ease;
}

/* Hover effect for outline buttons */
.btn-outline-primary:hover,
.btn-outline-secondary:hover {
  background-color: var(--btn-hover-color);
  color: #fff;
  border-color: var(--btn-hover-color);
  border-radius: 2rem;
}

/* Styling for resume button */
.resume-btn {
  border-radius: 50rem;
  transition: all 0.3s ease;
}

/* Styling for bullet point lists */
.bullet-list {
  list-style-type: disc;
  padding-left: 1rem;
  margin: 0 auto;
  max-width: 600px;
  text-align: left;
}

/* Styling for each list item */
.bullet-list li {
  margin-bottom: 0.2rem;

}